/* 重置部分默認樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

/* Logo 樣式 */
.logo {
  margin-right: 16px;
}

/* 內容容器 */
.app-container {
  width: 100%;
  /*max-width: 1200px;*/
  margin: 0 auto;
}

 響應式佈局
@media (max-width: 768px) {
  .app-container {
    padding: 0 12px;
  }
}